/* Nav grid */
#container{
  max-width: 600px;
  margin: auto;
  /* border: 1px solid; */
  border-radius: 3px;
}

/* grid ends */
.column {
  float: left;
  width: 65%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row{
  display: flex;
}
.column{
  flex: 50%
  padding: 10px;
}

/* grid begins */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url(fire-abstract-flame-backgrounds-textures-949506-1024.jpg);
}

/* Style the header */
header {
  background-color: #666;
  padding: 1%;
  text-align: center;
  font-size: 23px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: right;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  float: left;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
h2{
  color: white;
}
h1{
  color: orange;
}
.paragraph{
  color: lightblue;
  width: 55%;
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  text-align: left;
  text-align: center;
  padding: 0.5%;
}
ol li{
  color: orange;
}
h4{
  color: white;
  font: Freight Sans;
}
h3{
  color: white;
}
section h2{
  color: brown;
}
.ol{
  font-size: 150%;
}
.footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding:.4%;
}
.p {
  width: 55%;
  padding: 20px;
  border: 5px solid gray;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  background-color: yellow;
  text-align: left;
  text-align: center;
  padding: 0.5%;
}

 .form {
  height: 20%;
  width: 50%;
}

label {
  background-color: green;
}

input {
  background-color: greem;
}
/* Nav bar begins */
nav{
  display: grid;
}
 nav ul {
  display: grid;
  list-style-type: none;
  background-color: #333;
  align-items: center;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  background-color: #111;
}

 nav .pushRight {
  /* margin: auto; */
}

.fas {
  color: orange;
  margin-right: 5px;
}

/* Nav bar ends */
